<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projects.nyinyihtunlwin.freetime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="projects.nyinyihtunlwin.freetime.FreeTimeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="projects.nyinyihtunlwin.freetime.activities.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="projects.nyinyihtunlwin.freetime.persistence.MovieProvider"
            android:authorities="projects.nyinyihtunlwin.freetime"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name="projects.nyinyihtunlwin.freetime.activities.MovieDetailsActivity"
            android:label="@string/movie_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="projects.nyinyihtunlwin.freetime.activities.PersonDetailsActivity"
            android:label="@string/movie_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="projects.nyinyihtunlwin.freetime.activities.TvShowDetailsActivity"
            android:label="@string/movie_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="projects.nyinyihtunlwin.freetime.activities.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="projects.nyinyihtunlwin.freetime.services.CacheManager"
            android:exported="false" />

    </application>

</manifest>